[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register

[Service]
ExecStart=/opt/bin/kube-register \
  --metadata=role=node \
  --fleet-endpoint=unix:///var/run/fleet.sock \
  --api-endpoint=http://{{kubernetes_master}}:{{kubernetes_apiserver_insecure_port}}
Restart=always
RestartSec=30
